<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список классов</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="navbar">
  <div class="navbar-left">
    <a th:href="@{/admin/dashboard}">Главная</a>
    <a th:href="@{/school/info}">О школе</a>
    <a th:href="@{/schoolclasses}">Классы</a>
    <a th:href="@{/teachers}">Учителя</a>
    <a th:href="@{/schedules}">Расписание</a>
  </div>
  <div class="navbar-right">
    <form th:action="@{/logout}" method="post" class="logout-form">
      <button type="submit" class="logout-button">Выход</button>
    </form>
  </div>
</div>

<div class="container">
  <h1 th:text="${schoolClass.gradeLevel} + ${schoolClass.letter}"></h1>

  <form th:action="@{/schoolclass/edit/{id}(id=${schoolClass.id})}" method="post" class="form-container"  th:object="${schoolClass}">
    <div th:if="${#fields.hasErrors('*')}" class="error">
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
      </ul>
    </div>

    <div class="form-group">
      <label>Цифра класса:</label>
      <input type="number" th:field="*{gradeLevel}" min="1" max="11" required/>
    </div>

    <div class="form-group">
      <label>Буква класса:</label>
      <input type="text" th:field="*{letter}" maxlength="1" required/>
    </div>

    <button type="submit" class="button primary">Сохранить</button>
  </form>

</div>

</body>
</html>
