<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Учителя</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="navbar">
    <div class="navbar-left">
        <a th:href="@{/admin/dashboard}">Главная</a>
        <a th:href="@{/school/info}">О школе</a>
        <a th:href="@{/schoolclasses}" class="active">Классы</a>
        <a th:href="@{/teachers}">Учителя</a>
        <a th:href="@{/schedules}">Расписание</a>
    </div>
    <div class="navbar-right">
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-button">Выход</button>
        </form>
    </div>
</div>

<div class="container">
    <h1>Учителя вашей школы</h1>

    <table>
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Активен</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.name}">ФИО</td>
            <td th:text="${teacher.enabled}">true</td>
            <td>
                <a th:href="@{/teacher/edit/{id}(id=${teacher.id})}" class="button secondary">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
