<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма пользователя</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="navbar">
    <div class="navbar-left">
        <a th:href="@{/admin/dashboard}">Главная</a>
        <a th:href="@{/school/info}">О школе</a>
        <a th:href="@{/schoolclasses}">Классы</a>
        <a th:href="@{/teachers}">Учителя</a>
        <a th:href="@{/schedules}">Расписание</a>
    </div>
    <div class="navbar-right">
        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="logout-button">Выход</button>
        </form>
    </div>
</div>

<div class="container">
    <h1>Редактирование пользователя</h1>

    <form th:action="@{/users/edit/{id}(id=${user.id})}" method="post" class="form-container">
        <div class="form-group">
            <label>Логин:</label>
            <span class="label" th:text="${user.username}"></span>
        </div>

        <div class="form-group">
            <label>Роль:</label>
            <select name="role">
                <option th:each="r : ${roles}"
                        th:value="${r}"
                        th:text="${r}"
                        th:selected="${user.roles.contains(r)}">
                </option>
            </select>
        </div>

        <button type="submit" class="button primary">Сохранить</button>
    </form>

    <br>
    <a th:href="@{/admin/dashboard}" class="button secondary">Назад к списку</a>
</div>

</body>
</html>
